#include "resources.h"
IDI_ICON1           ICON    "windows_icon.ico"
IDI_ICON_STEER      RCDATA  "./images/steering_wheel.png"

IDR_FONT_REGULAR    RCDATA "./fonts/RobotoCondensed-Regular.ttf"
IDR_FONT_BOLD       RCDATA "./fonts/RobotoCondensed-Bold.ttf"

IDR_IMGUI_CONFIG    RCDATA "./resources/imgui.ini"